.about {
  padding: 50px 0;
}
.about__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(229, 229, 229);
}
.about__wrap-img {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  width: 500px;
}
.about__wrap-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.about__wrap-text {
  width: 560px;
}

.about__wrap-text a {
  font-size: 18px;
  font-weight: 400;
  color: cornflowerblue;
  text-transform: uppercase;
  text-align: right;
  display: block;
  margin-top: 20px;
}

#about__title::after {
  content: "";
  width: 20%;
  height: 2px;
  background-color: coral;
  display: block;
  margin-top: 20px;
}

.about__wrap-description * {
  margin-bottom: 10px;
}
.about__wrap-description *:last-child {
  margin-bottom: 0;
}

.about__social {
  margin-top: 40px;
}
.about__social * {
  font-size: 28px;
  color: coral;
  margin-right: 20px;
  transition: 0.2s;
  cursor: pointer;
}

.about__social *:hover {
  transform: scale(1.1);
}
